extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/index")
       i(class="fa-solid fa-bullseye fa-xl icon-colour")
      -if (erreur === 'NO Token')
       li
       a(href="/refresh")
        i(class="fa-solid fa-arrows-rotate fa-xl icon-colour wrapper" Title="Refresh")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-256x256-033.png" alt="Logo")
      .version v#{version} 
    div.MessageZero
      div.Title
        h1 Error
      span.Details=erreur