extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/index")
       i(class="fa-solid fa-bullseye fa-xl icon-colour")
    div.MessageZero
      div.Title
        h1 Error
      span.Details=erreur