extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/index")
       img.logo(src="bullseye-solid.svg" alt="index")
      -if (erreur === 'NO Token')
       li
       a(href="/refresh")
        img.logo(src="rotate-solid.svg" class="wrapper" Title="Refresh")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="C")
      .version v#{version} 
    div.MessageZero
      div.Title
        h1 Error
      span.Details=erreur