extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    form(action="/guardiana" method="POST")
      div.Message
       div.Title
        h1 Node Assistant
        br
        span.Details Node is
        -var gs = guardianstatus
        -if (gs === 'active')
         br
         h3 Active
        -else
         br
         h4 Not Active
         br
         button(type="submit") Activate
    div.NavButtons
      a(href="/logout")
          div.NavButton Log Out