extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    form(action="/guardiand" method="POST")
      div.MessageZero
       div.Title
        h1 Node Assistant
        br
        span.Details Node is
        -var gs = guardianstatus
        -if (gs === 'active')
         br
         h3 active
         br
         button(type="submit") deactivate
        -else
         br
         h4 not active  
    div.NavButtons
      a(href="/logout")
          div.NavButton Log Out