extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/main")
          i(class="fa-solid fa-house fa-xl icon-colour")
      li
      a(href="/logout")
       i(class="fa-solid fa-right-from-bracket fa-xl icon-colour")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-256x256-033.png" alt="Logo") 
    form(action="/guardiana" method="POST")
      div.MessageZero
       div.Title
        h1 Node Assistant
       ul.Details Node is
        -var gs = guardianstatus
        -if (gs === 'active')
         li.h3 Active
        -else
         li.h4 Not Active
         p
         button(type="submit") Activate