extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      -if (noUser === false)
       a(href="/login")
        img.logo(src="right-to-bracket-solid.svg" Title="Login")
      -else
       a(href="/register")
        img.logo(src="rocket-solid.svg" Title="Register")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-256x256-033.png" alt="C" Title="Conceal Network")
      .version v#{version}
    div.MessageZero
      div.Title
        h1 Assistant For Concealers 
        br
        -if (noUser === false)
         a(href="/login")
          h3.inlineIndex Access your CCX BOX
          img.inlineIndexD(src="right-to-bracket-solid.svg" Title="Login")
        -else
         a(href="/register")
          h3.inlineIndex Register 
          img.inlineIndexD(src="rocket-solid.svg" Title="Register")
  script. 
    (
    (() => { 
    if (window.localStorage) { 
    if (localStorage.getItem('reload')) { 
    localStorage.removeItem('reload'); 
    } 
    } 
    })(); 
    )
      