extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    div.Message
      div.Title
        h3 Making the Best
        h1 Assistant For Concealers
      span.Details Access your CCX-BOX      
    div.NavButtons
      -if (noUser === false)
       a(href="/login")
          div.NavButton LogIn
      -else
       a(href="/register")
          div.NavButton Register