extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      -if (noUser === false)
       a(href="/login")
        i(class="fa-solid fa-right-to-bracket fa-xl icon-colour" Title="Login")
      -else
       a(href="/register")
        i(class="fa-solid fa-rocket fa-xl icon-colour" Title="Register")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-256x256-033.png" alt="Logo")
      .version v#{version}
    div.MessageZero
      div.Title
        h3 Making the Best
        h1 Assistant For Concealers
      ul.Details Access your CCX-BOX 
        -if (noUser === false)
         a.inline(href="/login")
          i(class="fa-solid fa-right-to-bracket fa-xl icon-colour" Title="Login")
        -else
         a.inline(href="/register")
          i(class="fa-solid fa-rocket fa-xl icon-colour" Title="Register")
      