extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    div.Message
      div.Title
        h3 Making the Best
        h1 Assistant For Concealers
      span.Details Access your CCX-BOX
    div.NavButtons
      a(href="/user")
          div.NavButton Connect