block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=yes")
    meta(name="theme-color", content="#000000")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-cham.png")
    // link(rel="icon" type="image/png" href="/favicon.png")
    // link(rel="icon" type="image/svg+xml" href="/favicon.svg")
    title #{title} | CONCEAL Assistant
    link(rel="preload" href="/gear-solid.svg" as="image")
    link(rel="preload" href="/wallet-solid.svg" as="image")    
    link(rel="preload" href="/right-from-bracket-solid.svg" as="image")
    link(rel="preload" href="/logo-64x64.png" as="image")
    link(rel="preload" href="/background.jpg" as="image")
    link(rel="preload" href="/style.css" as="style")
    link(rel="preload" href="https://kit.fontawesome.com/2b14384469.js" as="script" crossorigin="anonymous")
    link(rel="stylesheet" href="/style.css")
    script(src="https://kit.fontawesome.com/2b14384469.js" crossorigin="anonymous")
  body
    div#root
      block layout-content
  footer 
    include footer.pug
         
    