extends layout

block layout-content
  div.View.UserView
    h1.Banner Welcome Back !
    
    form(action="/login" method="POST") 
      div.Message
        div.Title
          label(for="username")  User : 
          input(type="text" id="username" name="username" required)
          div 
          label(for="password") Password : 
          input(type="password" id="password" name="password" required)
          div
          button(type="submit") LogIn   
    div.NavButtons
      a(href="/register")
        div.NavButton Register