extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    div.Message
      div.Title
        h1 Goodbye
      span.Details=erreur
    div.NavButtons
      a(href="/login")
          div.NavButton Log in