extends layout

block layout-content
  div.View.WelcomeView
    img.logo(src="logo-64x64.png" alt="C")
    h1.Banner Conceal Assistant
    div.Message
      div.Title
        h1 Goodbye
      span.Details=erreur
    form(action="/logout" method="POST")
    div.NavButtons
      button(type="submit") Logout