extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    div.MessageZero
      div.Title
        h1 Node Assistant
      span.Details Guardian servive is
        -var gs = guardianstatus
        -if (gs === 'active')
          h3 active
          a(href=urlN target="_blank" rel="noopener") open API
          a(href="/guardiand") 
          div.NavButton Deactivate
        -else
          h4 Not Active
          a(href="/guardiana")
          div.NavButton Activate
    div.MessageSuite
      div.Title
        h1 Miner Assistant
      span.Details Miner is
        -var ms = minerstatus
        -if (ms === 'active')
         h3 Active
         a(href=urlM target="_blank" rel="noopener") open API
         a(href="/minerd") 
          div.NavButton Deactivate
        -else
         h4 Not Active
         a(href="/minera")
          div.NavButton Activate
    div.MessageSuite
      div.Title
      a(href="https://wallet.conceal.network" target="_blank" rel="noopener")
       h1 Wallet Access                
    div.MessageSuite
      div.NavButtons
        a(href="/settings")
         i(class="fa-solid fa-gear fa-xl icon-colour")
         a(href="/logout")
          div.NavButton Log Out
      
          
