extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/settings")
       i(class="fa-solid fa-gear fa-xl icon-colour")
      li
      a(href="https://wallet.conceal.network" target="_blank" rel="noopener")
       i(class="fa-solid fa-wallet fa-xl icon-colour")
      li
      a(href="/logout")
       i(class="fa-solid fa-right-from-bracket fa-xl icon-colour")
    div.MessageZero
      div.Title
        h1 Node Assistant
      ul.Details Guardian servive is
        -var gs = guardianstatus
        -if (gs === 'active')
          li.h3 active
          p 
          a(href=urlN target="_blank" rel="noopener") open API
          p
          a(href="/guardiand") 
           div.NavButton Deactivate
        -else
          li.h4 Not Active
          p
          a(href="/guardiana")
           div.NavButton Activate
    div.MessageSuite
      div.Title
        h1 Miner Assistant
      ul.Details Miner is
        -var ms = minerstatus
        -if (ms === 'active')
         li.h3 Active
         p
         a(href=urlM target="_blank" rel="noopener") open API
         p
         a(href="/minerd") 
          div.NavButton Deactivate
        -else
         li.h4 Not Active
         p
         a(href="/minera")
          div.NavButton Activate
      
          
