extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li.h7 v1.0.4 
      a(href="/settings")
       i(class="fa-solid fa-gear fa-xl icon-colour" Title="Settings")
      li
      a(href="https://wallet.conceal.network" target="_blank" rel="noopener")
       i(class="fa-solid fa-wallet fa-xl icon-colour" Title="Wallet")
      li
      a(href="/logout")
       i(class="fa-solid fa-right-from-bracket fa-xl icon-colour" Title="LogOut")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-256x256-033.png" alt="Logo")
    div.MessageZero
      div.Title
        h1 Node Assistant
      ul.Details Guardian servive is
        -var gs = guardianstatus
        -if (gs === 'active')
          li.h3 active
          p 
          a(href=urlN target="_blank" rel="noopener") open API
          p
          a.NavButton(href="/guardiand") Deactivate
        -else
          li.h4 Not Active
          p
          a.NavButton(href="/guardiana") Activate
    div.MessageSuite
      div.Title
        h1 Miner Assistant
      ul.Details Miner is
        -var ms = minerstatus
        -if (ms === 'active')
         li.h3 Active
         p
         a(href=urlM target="_blank" rel="noopener") open API
         p
         a.NavButton(href="/minerd") Deactivate
        -else
         li.h4 Not Active
         p
         a(href="/msettings?toshow=0") Modify Miner Settings
         p
         a(href="/msoftware?toshow=0") Modify Mining Software
         p
         a.NavButton(href="/minera") Activate
      
          
