extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    div.Message
      div.Title
        h3 Making the Best
        h1 Node Assistant
      span.Details Access your CCX-BOX
    div.Message
      div.Title
        h3 Making the Best
        h1 Miner Assistant
      span.Details Access your CCX-BOX
    div.NavButtons
      a(href="/logout")
          div.NavButton Log Out