extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    div.Message
      div.Title
        h1 Node Assistant
      span.Details Guardian servive is
    div.Message
      div.Title
        h1 Miner Assistant
      span.Details Miner is
    div.NavButtons
      a(href="/logout")
          div.NavButton Log Out