extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/main")
        img.logo(src="house-solid.svg"  alt="Main")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="C")
      li
      a(href="/logout")
       img.logo(src="right-from-bracket-solid.svg" Title="Logout") 
      .version v#{version}
    form(action="/minerd" method="POST")
      div.MessageZero
        div.Title
         h1 Miner :
        ul.Details Mining service is
          -var ms = minerstatus
          -if (ms === 'active')
           li.h3 active
           p
           button(type="submit") deactivate
          -else
           li.h4 not active