extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    form(action="/minerd" method="POST")
      div.MessageZero
       div.Title
        h1 Miner Assistant
        br
        span.Details Miner is
        -var ms = minerstatus
        -if (ms === 'active')
         h3 active
         br
         button(type="submit") deactivate
        -else
         h4 not active  
    div.NavButtons
        a(href="/main")
          i(class="fa-solid fa-house fa-xl icon-colour")
        a(href="/logout")
          div.NavButton Log Out