extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Conceal Assistant
    form(action="/minerd" method="POST")
      div.Message
       div.Title
        h1 Miner Assistant
        span.Details Miner is
        -var ms = minerstatus
        -if (ms === 'active')
         h3 active
         button(type="submit") deactivate
        -else
         h4 not active  
    div.NavButtons
      a(href="/logout")
          div.NavButton Log Out