extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="Logo")
      .version v#{version} 
    div.MessageZero
        h1 No API !
        p.Details no known API for this miner