extends layout

block layout-content
  div.View.UserView
    h1.Banner Register new user
    form(action="/register" method="POST") 
        div.Message
          div.Title
            label(for="user")  Username : 
            input(type="text" id="user" name="user" required)
            div
            br
            label(for="pwd") Password : 
            input(type="password" id="pwd" name="pwd" required)
            div
            br
            button(type="submit") Register
            div
            -var e = erreur
            -if (e !== '')
             br
             h4= e 
    div.NavButtons
      a(href="/login")
        div.NavButton Login
    