extends layout

block layout-content
  div.View.UserView
    ul.Banner
      img.logo(src="logo-256x256-033.png" alt="Logo")
      li.h1 Register New User
      li
      a(href="/index")
       i(class="fa-solid fa-bullseye-arrow fa-xl icon-colour")
    form(action="/register" method="POST") 
        div.MessageZero
          div.Title
            label(for="user")  Username : 
            input(type="text" id="user" name="user" required)
            div
            br
            label(for="pwd") Password : 
            input(type="password" id="pwd" name="pwd" required)
            div
            br
            button(type="submit") Register
            div
            -var e = erreur
            -if (e !== '')
             br
             h4= e
    