extends layout

block layout-content
  div.View.UserView
    ul.Banner
      li.h1 Register New User
      li
      a(href="/index")
       img.logo(src="bullseye-solid.svg" alt="Index")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-256x256-033.png" alt="C")
      .version v#{version} 
    form(action="/register" method="POST") 
        div.MessageZero
          div.Title
            label(for="user")  Username : 
            input(type="text" id="user" name="user" required)
            div
            br
            label(for="pwd") Password : 
            input(type="password" id="pwd" name="pwd" required)
            div
            br
            button(type="submit") Register
            div
            -var e = erreur
            -if (e !== '')
             br
             h4= e
    