extends layout

block layout-content
  div.View.UserView
    h1.Banner Welcome Back #{userProfile.name}!
    div.Message
      div.Title
        h2 Name
        h2 Password
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
    