@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root
     {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: #343A40;
}
h1,.h1, h2, h3,.h3, h4,.h4 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  
}
h1,
h2 {
  color: #868BA1;
}
.h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  white-space: nowrap;
}
h3,
.h3 {
  color: #23ec09;
}
h4,
.h4 {
  color: #cf332a;
}

h1,
.h1 {
  font-size: 2.5rem;
  line-height: 2.6rem;
}
h5,
h6,
label {
  font-family: "Helvetica", sans-serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;

  color: #868BA1;
}
input[type=text] {
  font-family: "Helvetica", sans-serif;
  min-width: 3rem;
  color: #252a2e;
  border: 0.1rem solid #868BA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.9rem;
  padding: 0.1rem;
  margin: 0.1rem;
  outline: none;
}
input[type=text]:focus {
  outline: 0.05rem solid #FA0;
}
input[type=password] {
  font-family: "Helvetica", sans-serif;
  min-width: 3rem;
  color: #252a2e;
  border: 0.1rem solid #868BA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.9rem;
  padding: 0.1rem;
  margin: 0.1rem;
  outline: none;
}
input[type=password]:focus {
  outline: 0.05rem solid #FA0;
}

a {
  color: #fa0;
  cursor: pointer;
  user-select: none;
  max-width: fit-content;
  letter-spacing: 0.1rem;
  text-decoration: underline #A50;
  }

a:hover {
    color: #FFF;
    text-decoration: none;
  }

h7, .h7 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  padding-left: 0.4rem;
  color: #868BA1;
  font-size: 0.7rem;
  text-decoration: none;
}
h7 {
  color: #FFF;
}
#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  

  padding: 1rem;

  background-size: cover;
  font-family: "Helvetica", sans-serif;
}
.WelcomeView {
  background: url("background.jpg") bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat
}
.UserView {
  background: url("backgrounduser.jpg") top center;
  background-size: cover;
  background-attachment: fixed;
}

.Banner {
  width: auto;
  min-height: 1.6rem;
  position: fixed;
  top: 0.2rem;
  left: 1rem;
  right: 1rem;
  z-index: 1;
  border-radius: 0.6rem;
  max-width: 96vw;
  overflow: hidden;
  background: #343A40;
  padding: 0.25rem;

  text-align: center;
  color: #F39917;
  font-size: 1.2rem;
  font-weight: 700;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  list-style-type: none;
}

.inline {
  display: inline-block;
  padding-left: 4.5rem;
  padding-right: auto;
  list-style-type: none;
}

.Banner li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Banner .logo {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}

.MessageZero {
  background: #343A40;
  font-size: 0.8rem;
  padding-top: 0.4rem;
  padding-left: 0.8rem;
  padding-bottom: 0.4rem;
  margin: 0.2rem;
  min-width: 21.5rem;
  max-width: 21.75rem;
  width: max-content;
  border-radius: 0.6rem;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  position: relative;
  Top: 7.2rem;
  z-index: 0;
}
.MessageZero > .Title > h1 {
  font-size: 2.2rem;
  padding-bottom: 0.15rem;
}
.MessageZero:hover {
  opacity: 90%;
}
.MessageSuite {
  background: #343A40;
  padding-top: 0.4rem;
  padding-right: 0.6rem;
  padding-bottom: 0.4rem;
  padding-left: 0.6rem;
  margin: 0.2rem;
  min-width: 21.5rem;
  width: max-content;
  border-radius: 0.6rem;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  position: absolute;
  Top: 19.6rem;
  z-index: 0;
  }

.MessageSuite:hover {
  opacity: 90%;
}
.MessageSuite > .Title > h1 {
  font-size: 2.2rem;
  padding-bottom: 0.15rem;
}

.Credits {
    background: #42413f;
    padding-top: 0.4rem;
    padding-right: 0.6rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    margin: 0.2rem;
    min-width: 21.5rem;
    width: max-content;
    border-radius: 0.6rem;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    position: fixed;
    bottom: 3rem;
    z-index: 0;
    color: #868BA1;
  }
  .Credits h1 {
    font-size: 1.8rem;
    padding-bottom: 0rem;
  }
  .Credits h2 {
    font-size: 1.4rem;
    padding-bottom: 0rem;
  }
  .Credits span {
    font-style: oblique;
  }
  .Credits:hover {
      background: #2e5050;
      opacity: 95%;
      font-style: oblique;
  }

  .Credits:hover h1 {
    color: #FFF; 
  }
  .Credits:hover h2 {
    color: #FFF; 
  }
  .Credits:hover span {
    color: #FFF; 
  }
  .MessageLicence {
    background: #343A40;
    padding-top: 0.4rem;
    padding-right: 0.6rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    margin: 0.2rem;
    left: 1rem;
    right: 1rem;
    min-width: 21.5rem;
    max-width: 95vw;
    max-height: 75vh;
    border-radius: 0.6rem;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    position: absolute;
    overflow-y: auto;
    Top: 8rem;
    z-index: 0;
    white-space: pre-line;
    }
ol {
  margin-left: 2rem;
}
.MessageLicence li {
  color: #868BA1;
}

.MessageLicence p {
  margin: 0.2rem 0.2rem;
  padding: 0.15rem;
  color: #868BA1;
}
span {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.nowrap {
  white-space: pre-wrap;
  margin-left: 0.5rem;
  color: #FFF;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  margin: 0.2rem auto;

  height: 3rem;
  width: 9rem;

  background: #252a2e;

  border-radius: 0.6rem;
  border: 0.1rem solid #FA0;

  font-size: 1.1rem;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
  letter-spacing: normal;
  margin-top: 0.25rem;
  box-shadow: var(--ui-shadow);
}

.NavButton:hover {
  background: #FA0;
  border: 0.1rem solid #fff;
  color: #000;
}

button {
  display:flex;
  justify-content: center;
  align-items: center;
  
  margin: 0.2rem auto;
  height: 3rem;
  width: 9rem;

  background: #252a2e;

  border-radius: 0.6rem;
  border: 0.1rem solid #FA0;

  font-size: 1.1rem;
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  letter-spacing: normal;
  cursor: pointer;

  text-transform: capitalize;
  margin-top: 0.25rem;
  box-shadow: var(--ui-shadow);
}
button:hover {
  background: #FA0;
  border: 0.1rem solid #FFF;
  color: #000;
  cursor: pointer;
}

.Details {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 0;
  margin: 0;
  color: #868BA1;
  list-style-type: none;
  }
  .Details li {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
  }
  .MessageZero:hover .attention {
    color: #cf332a; 
  }

*.icon-colour {
  color: #868BA1;
} 
.wrapper {
  opacity: 0%;
} 
.wrapper:hover {
  opacity: 100%;
}
footer {
  width: 100%;
  max-height: max-content;
  position: fixed;
  bottom: 0;
  z-index: 3;
  background: linear-gradient(to right, #343A40, #343a40be);
  height: min-content;  
}