@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
  --padding: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root
     {
  height: 100%;
  width: 100%;
}
html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: #343A40;
}
section,
  sectionM {
  height: 100vh;
  width: 21.5rem;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /*scroll-margin-top: 1rem;*/
  border-top: 1px solid rgba(255,255,255,0.25);
}

sectionM {
  height: 50vh;
}
section {
  height: 100vh;
  }

h1,.h1, h2, h3,.h3, h4,.h4 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  color: #868BA1;
}
.h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  white-space: nowrap;
}
h3,
.h3 {
  color: #23ec09;
}
h4,
.h4, h8 {
  color: #cf332a;
}

h1,
.h1 {
  font-size: 2.5rem;
  line-height: 2.6rem;
}
h5,
h6,
label {
  font-family: "Helvetica", sans-serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;

  color: #868BA1;
}
h8 {
  font-family: "Helvetica", sans-serif;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}
input[type=text] {
  font-family: "Helvetica", sans-serif;
  min-width: 1rem;
  color: #252a2e;
  background-color: #88837a;
  border: 0.1rem solid #868BA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.9rem;
  padding: 0.1rem;
  margin: 0.1rem;
  outline: none;
}
input[type=text]:focus {
  outline: 0.05rem solid #A50;
}
input[type=password] {
  font-family: "Helvetica", sans-serif;
  min-width: 3rem;
  color: #252a2e;
  background-color: #88837a;
  border: 0.1rem solid #868BA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.9rem;
  padding: 0.1rem;
  margin: 0.1rem;
  outline: none;
}
input[type=password]:focus {
  outline: 0.05rem solid #FFA500;
}

a {
  color: #ffa500;
  cursor: pointer;
  user-select: none;
  max-width: fit-content;
  letter-spacing: 0.1rem;
  text-decoration: underline #A50;
  }

a:hover {
    color: #FFF;
    text-decoration: none;
  }

h7, .h7 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  padding-left: 0.4rem;
  color: #868BA1;
  font-size: 0.7rem;
  text-decoration: none;
}
h7 {
  color: #FFF;
}
.right {
  margin-left: 30%;
  margin-right: 5%;
  text-align: right;
  display: inline-block;
}
.center {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: auto;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  align-items: center;
}
.inlineH {
  display: inline-block;
  height: 1.5rem;
  margin-left: auto;
  margin-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  list-style-type: none;
}
#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  

  padding: 1rem;

  background-size: cover;
  font-family: "Helvetica", sans-serif;
}
.WelcomeView {
  background: url("background.jpg") bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat
}
.UserView {
  background: url("backgrounduser.jpg") top center;
  background-size: cover;
  background-attachment: fixed;
}

.Banner {
  width: auto;
  min-height: 1.6rem;
  position: fixed;
  top: 0.2rem;
  left: 1rem;
  right: 1rem;
  z-index: 1;
  border-radius: 0.6rem;
  max-width: 96vw;
  overflow: hidden;
  background-image: linear-gradient(165deg , #343A40, #222425);
  padding: 0.25rem;

  text-align: center;
  color: #FFA500;
  font-size: 1.2rem;
  font-weight: 700;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  list-style-type: none;
}

.inline {
  display: inline-block;
  padding-left: 4.5rem;
  padding-right: auto;
  list-style-type: none;
}

.Banner li {
  display: inline-block;
  vertical-align: middle;
  padding-left: .8rem;
  padding-right: .8rem;
}
.Banner .version {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  display: inline-block;
  padding-left: 0.1rem;
  color: #FFF;
  font-size: 0.7rem;
  text-decoration: none;
  position: absolute;
  bottom: 0.1rem;
  right: 0.3rem;
}

.Banner .logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.2rem;
  width: 1.9rem;
  height: 1.9rem;
}
/*
.Banner .smalltext {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #808080;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 0.2rem;
  font-size: 0.6rem;
}
.Banner .smalltext:hover {
  color: #FFF;
}
*/
/*loader*/
#ring {
  border: 20px solid #343A40;
  position: absolute;
  left: 45%;
  border-radius: 50%;
  border-top: 20px solid #222425;
  width: 120px;
  height: 120px;
  animation: spin 600ms linear infinite;
}
.centre {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 12em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.MessageZero,
  .MessageSuite {
  background-image: linear-gradient(165deg,#343A40, #222425);
  font-size: 0.8rem;
  padding-top: 0.4rem;
  padding-left: 0.8rem;
  padding-bottom: 0.4rem;
  min-width: 21.5rem;
  max-width: 21.75rem;
  width: max-content;
  border-radius: 0.6rem;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
/*  position: relative;
  Top: 7.3rem;*/
  z-index: 0;
}
.MessageZero {
  margin: 9rem 0.2rem 0.2rem 0.2rem;
}
.MessageSuite {
  margin: 2rem 0.2rem 0.2rem 0.2rem;
}

.MessageZero > .Title > h1 {
  font-size: 2.2rem;
  padding-bottom: 0.15rem;
}
.MessageZero:hover {
  opacity: 90%;
}

.inlineIndex {
  display: inline-block;
  min-inline-size: 16rem;
  padding-left: 0.1rem;
  padding-right: auto;
  vertical-align: middle;
  list-style-type: none;
  font-size: 1.2rem;
}
.inlineIndexD {
  display: inline-block;
  min-inline-size: 3rem;
  padding-left: 1rem;
  padding-right: 0.5;
  vertical-align: middle;
  list-style-type: none;
  text-align: right;
  width: 1.7rem;
  height: 1.7rem;
}
.MessageSys {
    background-image: linear-gradient(165deg,#343a40, #222425);
    padding-top: 0.4rem;
    padding-right: 0.6rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    margin: 0.2rem ;
    min-width: 21.5rem;
    width: 21.75rem;
    border-radius: 0.6rem;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    position: relative;
    Top: 1.5rem;
    z-index: 0;
  }
.MessageSys td {
  color: #FFA500
}
.MessageSys:hover {
  opacity: 90%;
}
.MessageSuite > .Title > h1,
  .MessageSys > .Title > h1  {
  font-size: 2.2rem;
  padding-bottom: 0.15rem;
}

  .MessageLicence {
    background-image: linear-gradient(#343A40, #222425);
    padding-top: 0.4rem;
    padding-right: 0.6rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    margin: 0.2rem;
    left: 1rem;
    right: 1rem;
    min-width: 21.5rem;
    max-width: 95vw;
    max-height: 75vh;
    border-radius: 0.6rem;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    position: absolute;
    overflow-y: auto;
    Top: 8rem;
    z-index: 0;
    white-space: pre-line;
    }
ol {
  margin-left: 2rem;
}
.MessageLicence li {
  color: #868BA1;
}

.MessageLicence p {
  margin: 0.2rem 0.2rem;
  padding: 0.15rem;
  color: #868BA1;
}

.MessageConfirm {
  background-image: linear-gradient(170deg,#343A40, #222425);
  font-size: 0.8rem;
  padding-top: 0.4rem;
  padding-left: 0.8rem;
  padding-bottom: 0.4rem;
  margin: 0.2rem;
  min-width: 21.5rem;
  max-width: 21.75rem;
  width: max-content;
  border-radius: 0.6rem;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  position: absolute;
  Top: 7.5rem;
  z-index: 0;
  white-space: pre-line;
  opacity: 97%;
}
.MessageConfirm > .Title > h1 {
  font-size: 2.2rem;
  padding-bottom: 0.15rem;
}
.MessageConfirm .Details {
  color: #007bff;
}
.MessageConfirm h5 {
  font-size: 1.1rem;
}
.MessageConfirm h2 {
  word-break: break-word;
  color: #A50;
  font-size: 0.95rem;
  text-transform: none;
}
.MessageConfirm button {
  width: 7rem;
}
.MessageConfirm:hover {
  opacity: 93%;
}
.MessageConfirm:hover h2,
    .MessageConfirm:hover label,
      .MessageConfirm:hover td {
  color: #FFF; 
}

.inlinebutton {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: auto;
  padding-right: auto;
  list-style-type: none;
}

table {
  width: 98%;
  
}

th {
  height: 1.2rem;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  color: #868BA1;
  border-bottom: 1px solid;

}

tr {
  height: 1.2rem;
}
td {
  height: 1.2rem;
  vertical-align: middle;
  word-break: break-word;
  color: #A50;
  font-size: 0.95rem;
  text-transform: none;
  border-bottom: 1px solid;
  padding-top: 0.35rem;
}

span {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.nowrap {
  white-space: pre-wrap;
  margin-left: 0.5rem;
  color: #FFF;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  margin: 0.2rem auto;

  height: 3rem;
  width: 9rem;

  background: #252a2e;

  border-radius: 0.6rem;
  border: 0.1rem solid #FFA500;

  font-size: 1.1rem;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
  letter-spacing: normal;
  margin-top: 0.25rem;
  box-shadow: var(--ui-shadow);
}

.NavButton:hover {
  background: #FFA500;
  border: 0.1rem solid #fff;
  color: #000;
}

.disabled {
  pointer-events: none;
  text-decoration: line-through;  
}

button {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.2rem auto;
  height: 3rem;
  width: 9rem;

  background: #252a2e;

  border-radius: 0.6rem;
  border: 0.1rem solid #FFA500;

  font-size: 1.1rem;
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  letter-spacing: normal;
  cursor: pointer;

  text-transform: capitalize;
  margin-top: 0.25rem;
  box-shadow: var(--ui-shadow);
}
button:hover {
  background: #FFA500;
  border: 0.1rem solid #FFF;
  color: #000;
  cursor: pointer;
}

.Details {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 0;
  margin: 0;
  color: #868BA1;
  list-style-type: none;
  }
  .Details li {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
  }
details {
    background-image: linear-gradient(170deg,#343A40, #222425);
    padding: 0 var(--padding);
    margin: 9rem 0.2rem 0.2rem 0.2rem;
    min-width: 21.5rem;
    width: max-content;
    border-radius: 0.6rem;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    /*position: absolute;
    top: 34rem;*/
    z-index: 0;
    color: #868BA1;

  }
details[open] {
  padding-bottom: var(--padding);
  /*background: #2e5050;*/
  opacity: 98%;
   
}
details[open] h2 , details[open] .h1 {
  color: #FFF;
  /*font-style: oblique;*/
}
details > summary {
  display: flex;
  padding: var(--padding);
  margin: 0 calc(var(--padding) * -1);
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  justify-content: space-between;
  list-style: none; /* Hides the default arrow */
}
details[open] > summary {
  box-shadow: 0rem 0.05rem;
}
/* Adds an icon when the <details> is closed... */
details > summary::after {
  content: "+";
}
/* ...and switches it when <details> is open */
details[open] > summary::after {
  content: "-";
}
/* Removes the ugly default arrow on Chrome */
details > summary::-webkit-details-marker {
  display: none;
}

.MessageZero:hover .attention {
    color: #cf332a; 
}

*.icon-colour {
  color: #868BA1;
} 
.wrapper {
  opacity: 20%;
} 
.wrapper:hover {
  opacity: 100%;
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 2.5rem;
  height: 1.5rem;
  background: #A50;
  display: block;
  border-radius: 1.5rem;
  position: relative;
  bottom: 1.5rem;
}

.toggle:after {
  content: '';
  position: absolute;
  top: 0.15rem;
  left: 0.1rem;
  width: 1.2rem;
  height: 1.2rem;
  background: #343A40;
  border-radius: 0.6rem;
  transition: 0.3s;
}

input:checked + .toggle {
  background: #31c21d;
}

input:checked + .toggle:after {
  left: calc(100% - 0.15rem);
  transform: translateX(-100%);
}

.toggle:active:after {
  width: 1.2rem;
}

footer {
  width: 100%;
  max-height: max-content;
  position: fixed;
  bottom: 0;
  z-index: 3;
  background-image: linear-gradient(to bottom right , #343A40, #2224255b);
  height: min-content;  
}